Options -MultiViews
#Move this file to public/

RewriteEngine On

#Edit to reflect your root dir. /public might be enough. 500 server errors appear if this is not set correctly
#RewriteBase /public
RewriteBase /gophermvc/public/

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]